@import url('/src/css/fonts.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    select {
      background-position: left theme('spacing.2') center;
      padding-left: theme('spacing.10');
      padding-right: theme('spacing.3');
    }
  }